html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

:root {
    --general-text: #ffffff;
    --accent-text: #210E09;
    --accent-color: #D5621D;
    --accent-bg: #d5621d1a;

    --transition: all .5s;
}

body {
    font-family: 'Stolzl', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background: #210E09;
    color: var(--general-text);
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1310px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}