@import "../css/fonts.css";
@import "../css/reset.css";
@import "../css/global.css";

@import "../css/header.css";

/* =================================== */

.hero__inner {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.hero__title {
    padding-bottom: 43px;
    padding-left: 60px;
    border-radius: var(--border-radius);

    background: url("../img/gallery/gallery-1.jpg") 50% 50% / cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;

    font-family: "Gotham Pro";
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--general-text);
}

.title-text {
    padding: 10px 20px 7px;
    background: var(--general-text);
    border-radius: var(--border-radius);
    text-align: center;
    color: var(--accent-text);
    letter-spacing: 0.7px;
    font-family: "Gotham Pro";
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
}

.hero__title-text {
    max-width: 154px;
    white-space: nowrap;
    font-size: 18px;
    letter-spacing: 0.9px;
}

.hero__poster {
    max-width: 416px;
}

.hero__poster img {
    width: 100%;
    transform: scale(1.1);
}

.tab-controls {
    display: flex;

    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

.tab-controls img {
    width: 100%;
}

.tab-controls__item {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: rgba(213, 98, 29, 0.05);
    border-radius: var(--border-radius) 5px 0px 0px;
    min-height: 40px;
    flex: 1;
    max-width: 208px;
}

.tab-controls__link {
    display: block;
    width: 100%;
    height: 100%;
    padding: 12px 10px 7px;
}

.tab-controls__link--active {
    background: #d5621d1a;

}

.tab-content {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 26px;
    border-radius: 0px 0px 5px 5px;
    padding: 39px 35px 37px;
    background: #d5621d24;
}

.tab-content--show {
    display: grid;
}

/* =================================== */



.kitchen__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kitchen__title-text {
    margin-bottom: 40px;
}

.kitchen__title {
    margin-bottom: 80px;
}

.kitchen__menu {
    display: flex;
    gap: 60px;
    max-width: 1296px;
    width: 100%;
    align-items: center;
    justify-content: center;

    margin-bottom: 96px;
}

.kitchen__prev,
.kitchen__next {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;

    padding: 15px;
    background: var(--accent-color);
    border-radius: var(--border-radius);
    flex-shrink: 0;
    transition: var(--transition);
}

.kitchen__prev:hover,
.kitchen__next:hover {
    background: var(--general-text);
}

.kitchen__prev path,
.kitchen__next path {
    transition: var(--transition);
}

.kitchen__prev:hover path,
.kitchen__next:hover path {
    fill: var(--accent-color);
}

.swiper-button-disabled.kitchen__prev,
.swiper-button-disabled.kitchen__next {
    background: #d5621d29;
    cursor: auto;
}

.swiper-button-disabled.kitchen__prev:hover,
.swiper-button-disabled.kitchen__next:hover {
    background: #d5621d29;
}

.swiper-button-disabled.kitchen__prev:hover path,
.swiper-button-disabled.kitchen__next:hover path {
    fill: var(--general-text);
}

.kitchen__slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 56px;
    overflow: hidden;
}

.kitchen__slide-item {
    display: flex;
    gap: 25px;
}

.kitchen__slide-img {
    max-width: 110px;
    aspect-ratio: 1/1;
    width: 100%;
}

.kitchen__slide-img img {
    width: 100%;
}

.kitchen__slide-about {
    display: flex;
    flex-direction: column;
    position: relative;

    max-height: 127px;
}

.kitchen__slide-about .title {
    font-size: 18px;
    letter-spacing: 0.9px;
    margin-bottom: 6px;
}

.kitchen__slide-about span {
    color: var(--accent-color);
    margin-bottom: 10px;
}

.kitchen__slide-price {
    padding: 10px 20px 7px;
    border-radius: var(--border-radius);
    border: 2px solid var(--accent-color);

    font-family: "Gotham Pro";
    font-weight: 700;
    letter-spacing: 0.7px;
    text-transform: uppercase;

    position: absolute;
    content: '';
    top: 0;
    right: 0;
}

.kitchen__button {
    font-family: "Gotham Pro";
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.9px;

    background: var(--accent-color);
}

/* =================================== */

.main__events {
    margin-bottom: 120px;
}

.events__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 44px;

}

.events__about {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.events__title-text {
    max-width: 260px;
    margin-bottom: 40px;
}

.events__title {
    margin-bottom: 35px;
}

.events__text {
    margin-bottom: 35px;
}

.events__button {
    max-width: 156px;
}

.events__img {
    flex-shrink: 0;
}

.events__img img {
    width: 100%;
    border-radius: var(--border-radius);
}

/* =================================== */

@media (max-width:1100px) {
    .nav__list {
        display: flex;
        gap: 15px 30px;
        flex-wrap: wrap;
        margin-inline: 30px;
        justify-content: center;
    }

    /* ============================== */

    .tab-content {
        padding: 20px;
        gap: 20px;
    }

    /* * ============================== */

    .kitchen__menu {
        gap: 25px;
    }

    .kitchen__slide-item {
        gap: 20px;
    }

    /* * ============================== */

    .events__inner {
        gap: 10px;
    }
}

@media (max-width:1000px) {

    .kitchen__slide-item {
        max-width: 650px;
    }

    /* ============================ */

    .events__inner {
        gap: 25px;
    }

    .events__img {
        display: none;
    }


}

@media (max-width:900px) {
    .hero__inner {
        flex-direction: column;
        align-items: center;
    }

    .hero__poster {
        max-width: 500px;
        width: 100%;
    }

    .hero__poster img {
        transform: none;
    }

    .tab-controls__item {
        max-width: 250px;
    }

    /* =========================== */
}

@media (max-width:750px) {

    .main__hero {
        margin-bottom: 80px;
    }

    .nav__list {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
        margin-inline: 30px;

    }

    .burger-icon {
        display: flex;
    }

    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--accent-text);
        padding: 18vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);

        flex-direction: column;
        align-items: center;
        justify-content: start;
    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    /* ========================= */

    .main__kitchen {
        margin-bottom: 80px;
    }

    .kitchen__title-text {
        margin-bottom: 20px;
    }

    .kitchen__title {
        margin-bottom: 30px;
    }

    .kitchen__slide {
        gap: 35px;
    }

        /* ========================= */

    .events__inner {
        flex-direction: column;
        gap: 60px;
        margin-bottom: 80px;
    }

    .events__title-text {
        margin-bottom: 10px;
    }

    .events__title,
    .events__text {
        margin-bottom: 20px;
    }

    .events__title {
        font-size: 30px;
    }
}

@media (max-width:550px) {

    .kitchen__menu {
        margin-bottom: 60px;
    }

    .kitchen__slide {
        gap: 55px;
        padding-bottom: 45px;
    }

    .kitchen__title-text {
        margin-bottom: 15px;
    }

    .kitchen__title {
        margin-bottom: 20px;
    }

    .kitchen__slide-item {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;

        gap: 0;
    }

    .kitchen__slide-img {
        max-width: 140px;
    }

    .kitchen__slide-about .title {
        font-size: 17px;
    }

    .kitchen__slide-price {
        max-width: 130px;
        width: 100%;
        padding: 5px;
        top: 330%;
        right: 2.5%;
    }

    .kitchen__slide-about p {
        display: none;
    }
}

@media (max-width:500px) {
    .body--opened-modal {
        padding-right: 0;
    }

    .header__inner {
        flex-wrap: wrap;
        gap: 25px 50px;
    }

    .header__button {
        margin: auto;
    }

    .nav {
        font-size: 22px;
    }

    .nav__list {
        gap: 25px;
    }

    /* ========================== */

    .hero__title {
        font-size: 35px;
        padding-left: 15px;
    }

    .tab-content {
        padding: 10px;
        gap: 10px;
    }

    /* =============================== */

    .modal__window {
        padding: 10px 20px 20px;
    }
}

@media(max-width:400px) {
    .hero__title {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .hero__title-text {
        padding: 0;
    }

    /* ==================================== */

    .kitchen__title {
        font-size: 30px;
    }

    /* ==================================== */

    .modal__img img {
        max-width: 90px;
    }
}