@import "../fonts.css";
@import "../reset.css";
@import "../global.css";

@import "../header.css";
@import "../footer.css";

/* ======================================================== */
.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 53px;
}

.about__img {
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    grid-row: 1/3;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.about__img-control {
    position: absolute;
    bottom: 5.5%;
    left: 5%;
    max-width: 299px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    background: #957b97e6;
    border-radius: var(--border-radius);
    color: var(--general-bg);
}

.about__img-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    background: var(--general-bg);
    border-radius: 50%;
}

.about__img-button::after {
    display: block;
    position: absolute;
    content: '';
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px solid var(--accent-color-purple);
    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover::after {
    content: '';
    opacity: 1;
}

.about__title-text {
    margin-bottom: 30px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 29px 24px;
    border-radius: var(--border-radius);
    background: var(--accent-bg);
}

.about__grid-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--general-text);
    flex-shrink: 0;
}

/* ======================================================== */
.main__program {
    padding-bottom: 140px;
}

.program__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    gap: 30px 15px;
}

.program__title-text {
    margin-top: 20px;
}

.tab-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 26px;
}

.tab-controls__link {
    padding: 14px 30px;
    border-radius: 100px;
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0.30);
    background: var(--general-bg);
    transition: var(--transition);
    white-space: nowrap;
}

.tab-controls__link:hover {
    background: var(--accent-bg);
}

.tab-controls__link--active {
    box-shadow: 0px 4px 20px 0px rgba(206, 195, 185, 0);
    background: var(--accent-bg);
}

.tab-content {
    display: none;
}

.tab-content--show {
    display: block;
}

.program__bottom {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.program__action {
    display: grid;
    grid-template: repeat(3, auto) / 1.65fr 1fr;
    max-width: 501px;
    gap: 40px;
    width: 100%;
    flex-shrink: 0;
}

.program__sale {
    border-radius: var(--border-radius);
    background: var(--accent-bg);
    padding: 40px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    grid-row: 1/3;
}

.program__discount {
    color: var(--accent-color);
    font-family: "Gabriola";
    font-size: 74px;
    line-height: 0.82;
    margin: 0 0 7px 13%;
    transform-origin: 0 0;
    animation: discount-action .8s linear infinite alternate;
}

@keyframes discount-action {
    0% {
        transform: scale(1);
        color: var(--accent-color);
    }

    100% {
        transform: translate(3%) scale(1.1);
        color: #FF9138;
    }
}

.program__sale span:first-child {
    margin-left: 40%;
}

.program__sale span:last-child {
    font-size: 20px;
}

.program__price-text {
    color: var(--accent-color-purple);
    line-height: 1.6;
    text-transform: uppercase;
}

.program__price-value {
    font-family: "Gabriola";
    line-height: 0.9;
    color: var(--general-text);
    font-size: 32px;
}

.program__price-value--bigger {
    color: var(--accent-text);
    font-size: 50px;
}

.program__button {
    grid-column: 1/3;
}

.program__img img {
    width: 100%;
}

.accordion-list__item {
    display: block;
    margin-bottom: 30px;
    border-radius: 20px;
    border: 1px solid var(--accent-color);
}

.accordion-list__item:last-child {
    margin-bottom: 40px;
}

.accordion-list__control {
    padding: 40px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
    background: transparent;
    text-align: left;

    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 0.9;
    color: var(--accent-text);
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__control {
    padding-bottom: 20px;
}

.accordion-list__control:hover .accordion-list__img {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__control:hover path {
    fill: var(--general-bg);
}

.accordion-list__content {
    max-height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.accordion-list__item--opened .accordion-list__img {
    background: var(--accent-color);
    transform: rotate(90deg);
}

.accordion-list__item--opened path {
    fill: var(--general-bg);
}

.accordion-list__img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1.5px solid var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    transition: var(--transition);
}

.accordion-content {
    padding: 0 40px 30px;
    display: flex;
    gap: 80px;
}

.accordion-content__col:first-child {
    max-width: 507px;
    width: 100%;
}

.accordion-content__text {
    max-width: 274px;
}

.accordion-content__title {
    line-height: 1.6;
    color: var(--accent-color-purple);
    text-transform: uppercase;
    margin-bottom: 20px;
}

.accordion-content__item {
    margin-bottom: 20px;
    display: flex;
    gap: 8px;
}

.accordion-content__item:last-child {
    margin-bottom: 0
}

.accordion-content__img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid var(--accent-color-purple);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* =============================================== */

.gallery__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    margin-bottom: 40px;
}

.gallery__img {
    justify-self: center;
}

.gallery__img img {
    max-width: 100%;
}

.gallery__content {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 15px;
}

.gallery__info {
    max-width: 380px;
}

.gallery__title {
    margin-bottom: 20px;
}

.gallery__text {}

.gallery__nav {
    display: flex;
    gap: 30px;
    align-items: center;
    font-family: 'Gabriola';
    color: var(--accent-text);
    font-size: 42px;
    line-height: 0.9;
}

.gallery__prev,
.gallery__next {
    background: transparent;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1.5px solid var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: var(--transition);
}

.gallery__next:hover,
.gallery__prev:hover {
    background: var(--accent-color);
}

.gallery__next path,
.gallery__prev path {
    transition: var(--transition);
}

.gallery__next:hover path,
.gallery__prev:hover path {
    fill: var(--general-bg);
}

.gallery__pagination {
    display: flex;
}

.gallery__wrapper {
    
}

.gallery__slide {
    border-radius: var(--border-radius);
    overflow: hidden;
}

.gallery__slide img {
    width: 100%;
}

/*=======================================================/




/*=======================================================/ ========================================================= 
=========================================================*/

@media (max-width:1200px) {
    .hero__img {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    .hero__img>img {
        width: 100%;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        color: var(--general-text);
    }

    /* ======================================= */

    .program__top {
        flex-direction: column;
        align-items: stretch;
    }



    /* ========================================= */
    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .footer__info,
    .footer__contact {
        grid-column: 1/3;
    }

    .footer__timetable {
        align-content: center;
        max-height: 125px;
        height: 100%;
    }

    .footer__info,
    .footer__nav-list,
    .footer__timetable-list,
    .footer__contact {
        align-items: center;
    }

}

@media (max-width:1100px) {
    .about__inner {
        gap: 35px 40px;
    }

    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1/3;
        text-align: center;
    }

    .about__grid-item {
        text-align: start;
        gap: 10px;
    }

    /* ======================================= */

    .accordion-list__control {
        font-size: 35px;
        padding: 35px 25px;
    }

}

@media (max-width:900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;

    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ============================== */

    .program__action {
        grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
        max-width: none;
    }

    .program__img {
        display: none;
    }

    /* ============================== */
}

@media (max-width:800px) {
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__button {
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    /* ================================================= */
    .about__title {
        font-size: 65px;
    }

    .about__img-control {
        bottom: 0;
        left: 0;
        max-width: 100%;
        height: 26%;
        padding: 5px 20px;
        border-radius: 0;
    }

    /* ============================================= */
    .program__title {
        font-size: 65px;
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    .tab-controls__link {
        padding: 10px 20px;
    }

    .accordion-list__control {
        padding: 15px;
    }

    .accordion-content {
        flex-direction: column;
        gap: 40px;
    }

    .accordion-content__col:first-child {
        max-width: none;
    }

    .accordion-content__text {
        max-width: none;
    }

    /* ========================================= */
    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        grid-row-gap: 10px;
    }
}

@media (max-width:700px) {
    .about__inner {
        gap: 35px 25px;
    }

    .about__img-control {
        font-size: 90%;
    }

    .about__img-button {
        width: 65px;
        height: 65px;
    }

    .about__title {
        font-size: 55px;
    }
}

@media (max-width:600px) {
    .header__hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }

    /* ====================================== */

    .main__about {
        padding: 85px 0;
    }

    .about__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about__img {
        max-width: 450px;
    }

    .about__body {
        text-align: center;
    }

    .about__title {
        font-size: 12vw;
    }

    .about__title-text {
        margin-bottom: 20px;
    }

    .about__grid {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .about__grid-item {
        padding: 10px;
        max-height: 80px;
    }

    /* ========================================= */

    .main__program {
        padding-bottom: 85px;
    }

    .program__title {
        font-size: 12vw;
        text-align: center;
    }

    .program__top {
        margin-bottom: 40px;
    }

    .program__title-text {
        text-align: center;
    }

    .tab-controls {
        justify-content: center;
    }

    .program__action {
        grid-template: none;
        gap: 15px;
    }

    .program__sale {
        grid-row: auto;
        grid-column: 1/-1;
        justify-self: center;
    }

    .program__price {
        text-align: center;
    }

    .program__button {
        grid-column: auto;
    }

    .accordion-list__item {
        margin-bottom: 20px;
    }

    .accordion-list__control {
        padding: 15px;
        font-size: 28px;
    }

    .accordion-list__img {
        width: 28px;
        height: 28px;
    }

    .accordion-list__img svg {
        width: 8px;
    }

    .accordion-content {
        gap: 20px;
        padding: 10px;
    }

    .accordion-content__title {
        margin-bottom: 15px;
        font-size: 15px;
    }

    .accordion-content__item {
        margin-bottom: 10px;
    }


    /* ================================== */
    .footer__inner {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .footer__timetable {
        grid-row-start: 3;
    }

    .footer__contact {
        grid-row-start: 4;
        margin-top: 10px;
    }

    /* =============================== */
}

@media (max-width:450px) {
    .modal__window {
        padding: 0 15px 45px;
    }

    .modal__img {
        margin-top: -45px;
    }

    .modal__img img {
        width: 75%
    }

    .modal__title {
        font-size: 36px;
    }

    /* ================================== */

    .program__action {
        grid-template: none;
    }

    .program__price-value--bigger {
        font-size: 45px;
    }

    .accordion-list__item {
        margin-bottom: 10px;
    }

    .accordion-list__control {
        padding: 10px;
        font-size: 24px;
    }

    .accordion-content__item {
        margin-bottom: 5px;
    }
}
