:root {
    --general-text: #312C27;
    --general-bg: #FFF9F4;
    --accent-text: #1F1711;
    --accent-bg: #FFE0CB;
    --accent-color: #FFA55C;
    --transition: all .4s;
    --border-radius: 20px;
}

.body {
    font-family: "Montserrat", "Arial", sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.body--opened-menu {
    overflow: hidden;
}

.body--opened-modal {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.main__about {
    padding: 140px 0;
}

.container {
    max-width: 1310px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--general-text);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    height: 62px;
    padding: 3px 15px;
    border-radius: 60px;
    background: var(--accent-color);
    transition: var(--transition);
}

.button:hover {
    background: #FF9138;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    inset: 0;
    background: #00000071;
    z-index: 11;
    opacity: 0;
    visibility: hidden;
    transition: all .6s;
}

.body--opened-modal .modal {
    opacity: 1;
    visibility: visible;
}

.modal__window {
    display: flex;
    flex-direction: column;
    background: var(--general-bg);
    border-radius: var(--border-radius);
    padding: 0 60px 60px 60px;
    max-width: 428px;
    position: relative;
    color: var(--general-text);
}

.modal__cansel {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal__cansel path,
.modal__cansel rect {
    transition: var(--transition)
}

.modal__cansel:hover path,
.modal__cansel:hover rect {
    stroke: #AC907A;
}

.modal__img {
    margin: -65px 0 15px 12px;

}

.modal__title {
    font-family: 'Gabriola';
    font-size: 42px;
    line-height: 0.9;
    margin-bottom: 10px;
    color: var(--accent-text);
}

.modal__text {
    margin-bottom: 30px;
}

.modal__form {
    display: flex;
    gap: 10px;
    flex-direction: column;
    max-width: 308px;
    width: 100%;
}

.field {
    position: relative;
    display: block;
}

.field span {
    position: absolute;
    top: 12px;
    left: 28px;
    font-size: 11px;
    color: #AC907A;
    opacity: 0;
    visibility: hidden;
    transition: var(--transition)
}

.field__input {
    padding: 19px 28px;
    border-radius: 100px;
    border: 1px solid #AC907A;
    background: #00000000;
    font-size: 16px;
    color: var(--general-text);
    width: 100%;
}

.field__input::placeholder {
    color: #AC907A;
}

.field__input,
.field__input::placeholder {
    transition: var(--transition)
}

.field__input:hover {
    border-color: var(--accent-color)
}

.field__input:hover::placeholder {
    color: var(--accent-color);
}

.field__input:focus {
    padding: 26px 28px 12px 28px;
}

.field__input:focus+span {
    opacity: 1;
    visibility: visible;
}

/* ====================================== */

.header {
    background: url("../img/decoration/bg-header.png") 50% 100% / cover no-repeat;
}

.header__top {
    padding-top: 19px;
}

.header__top-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    display: block;
    max-width: 174px;
    z-index: 11;
}

.header__logo img {
    width: 100%;
}

.nav__list {
    display: flex;
    gap: 4vh 40px;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    position: absolute;
    content: '';
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.nav__link:hover::before {
    opacity: 1;
}

.burger-icon {
    display: none;
    z-index: 11;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
}

.burger-icon span {
    position: relative;
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--general-text);
    transition: var(--transition);
}

.burger-icon span::after,
.burger-icon span::before {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: 8px;
}

.burger-icon span::after {
    bottom: 8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

.header__hero {
    padding: 55px 0 140px;
}

.hero__inner {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 30px;
}

.hero__content {
    max-width: 519px;
    display: flex;
    flex-direction: column;
}

.hero__info {
    max-width: 162px;
    line-height: 1.6;
    text-transform: uppercase;
    color: #B197B2;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
}

.hero__info span {
    display: flex;
    align-items: center;
}

.hero__info span::after {
    content: '';
    display: block;
    width: 4px;
    height: 4px;
    background: #B197B2;
    border-radius: 50%;
    margin: 0 10px;
}

.hero__info span:last-child::after {
    content: none;
}

.hero__title {
    font-family: "Gabriola";
    font-size: 74px;
    line-height: 0.82;
    color: var(--accent-text);
    margin-bottom: 30px;
}

.hero__text {
    max-width: 358px;
    color: var(--general-text);
    margin-bottom: 40px;
}

.hero__button {
    max-width: 358px;
}

.hero__img {
    position: relative;
    margin-right: 247px;
}

.hero__img-control {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 11.9%;
    left: calc(100% - 39px);
    max-width: 200px;
    text-align: left;
    color: var(--general-text);
}

.hero__img-control--mobile {
    display: none;
}

.hero__img-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    background: var(--accent-bg);
    box-shadow: 0px 4px 20px rgba(184, 148, 126, 0.3);
    border-radius: 50%;
}

.hero__img-button::after {
    display: block;
    position: absolute;
    content: '';
    width: 68px;
    height: 68px;
    border-radius: 68px;
    border: 1px solid var(--accent-color);
    opacity: 0;
    transition: var(--transition);
}

.hero__img-button:hover::after {
    content: '';
    opacity: 1;
}

.hero__img-button img {
    padding-left: 8.8%;
}

/* ======================================= */

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1.05fr;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 53px;
}

.about__img {
    position: relative;
    border-radius: var(--border-radius);
    overflow: hidden;
    grid-row: 1/3;
}

.about__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
}

.about__img-control {
    position: absolute;
    bottom: 5.5%;
    left: 5%;
    max-width: 299px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px 20px;
    background: #957b97e6;
    border-radius: var(--border-radius);
    color: var(--general-bg);
}

.about__img-button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 78px;
    height: 78px;
    background: var(--general-bg);
    border-radius: 50%;
}

.about__img-button::after {
    display: block;
    position: absolute;
    content: '';
    width: 68px;
    height: 68px;
    border-radius: 50%;
    border: 1px solid #CEAAD0;
    opacity: 0;
    transition: var(--transition);
}

.about__img-button:hover::after {
    content: '';
    opacity: 1;
}

.about__title {
    font-family: 'Gabriola';
    color: var(--accent-text);
    font-size: 74px;
    line-height: 0.82;
}

.about__title-text {
    margin-bottom: 30px;
}

.about__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(2, 1fr);
}

.about__grid-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 29px 24px;
    border-radius: var(--border-radius);
    background: var(--accent-bg);
}

.about__grid-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--general-text);
    flex-shrink: 0;
}



/* ========================================== */

.footer {
    background: #AB8261;
    color: var(--general-bg);
}

.footer__inner {
    display: grid;
    grid-template-columns: .9fr .9fr 1.1fr auto;
    align-items: start;
    padding: 30px 0 60px;
}

.footer__info {
    display: flex;
    flex-direction: column;
}

.footer__logo {
    display: block;
    max-width: 239px;
}

.footer__logo img {
    width: 100%;
}

.footer__info p {
    margin-bottom: 20px;
    ;
}

.social__list {
    display: flex;
    gap: 15px;
}

.social__link svg:hover path {
    transition: var(--transition);
    fill: var(--accent-color);
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.footer__nav-link {
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.footer__nav-link::before {
    position: absolute;
    content: '';
    top: -8px;
    left: -13px;
    z-index: -1;
    width: 34px;
    height: 34px;
    background: var(--accent-color);
    border-radius: 50%;
    opacity: 0;
    transition: var(--transition);
}

.footer__nav-link:hover::before {
    opacity: 1;
}

.footer__timetable-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.footer__timetable-list img {
    margin-right: 8px;
}

.footer__timetable-list li:first-child {
    line-height: 1.6;
}

.footer__timetable-list span {
    margin-right: 10px;
}

.footer__timetable-list span:last-child {
    margin-right: 0;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    line-height: 1.6;
}

.footer__contact a {
    font-size: 24px;
    font-weight: 500;
    transition: var(--transition);
}

.footer__contact a:hover {
    color: var(--accent-color);
}

.footer__copy {
    display: flex;
    margin-top: 47px;
    margin-left: 9px;
    gap: 5px;
    line-height: 1.5;
    color: #DEC5B1;
    ;
}


/* ==================================== */

@media (max-width:1200px) {
    .hero__img {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }

    .hero__img>img {
        width: 100%;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        color: var(--general-text);
    }

    /* ======================================= */

    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    .footer__info,
    .footer__contact {
        grid-column: 1/3;
    }

    .footer__timetable {
        align-content: center;
        max-height: 125px;
        height: 100%;
    }

    .footer__info,
    .footer__nav-list,
    .footer__timetable-list,
    .footer__contact {
        align-items: center;
    }

}

@media (max-width:1100px) {
    .about__inner {
        gap: 35px 40px;
    }

    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1/3;
        text-align: center;
    }

    .about__grid-item {
        text-align: start;
        gap: 10px;

    }
}

@media (max-width:900px) {
    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;

    }

    .body--opened-menu .nav {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }
}

@media (max-width:800px) {
    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__button {
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    /* ================================================= */
    .about__title {
        font-size: 65px;
    }

    .about__img-control {
        bottom: 0;
        left: 0;
        max-width: 100%;
        height: 23%;
        padding: 5px 20px;
        border-radius: 0;
    }

    /* ============================================= */
    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        grid-row-gap: 10px;
    }
}

@media (max-width:700px) {
    .about__inner {
        gap: 35px 25px;
    }

    .about__img-control {
        font-size: 90%;
    }

    .about__img-button {
        width: 65px;
        height: 65px;
    }
}

@media (max-width:600px) {
    .header__hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }

    /* ====================================== */

    .footer__inner {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .footer__timetable {
        grid-row-start: 3;
    }

    .footer__contact {
        grid-row-start: 4;
        margin-top: 10px;
    }
}